name: CodebergReleaseSync

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - run: |
          gh auth login --with-token <<< "$GITHUB_TOKEN"

          tea login add \
            --name codeberg \
            --url https://codeberg.org \
            --token "$CODEBERG_TARGET_TOKEN"

          PROJECT=$(echo "$CODEBERG_TARGET_URL" | sed 's#https://codeberg.org/##;s#\.git##')

          gh release list --limit 1000 --json tagName,name,body |
          jq -c '.[]' | while read r; do
            TAG=$(echo $r | jq -r '.tagName')
            NAME=$(echo $r | jq -r '.name')
            BODY=$(echo $r | jq -r '.body')

            tea release view "$TAG" --repo "$PROJECT" >/dev/null 2>&1 ||
            tea release create \
              --repo "$PROJECT" \
              --tag "$TAG" \
              --title "$NAME" \
              --note "$BODY"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CODEBERG_TARGET_TOKEN: ${{ secrets.CODEBERG_TARGET_TOKEN }}
          CODEBERG_TARGET_URL: ${{ secrets.CODEBERG_TARGET_URL }}
