name: CodebergReleaseSync

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          glab auth login --token "$CODEBERG_TARGET_TOKEN" --hostname gitlab.com

          PROJECT=$(echo "$CODEBERG_TARGET_URL" | sed 's#https://gitlab.com/##;s#\.git##')

          gh release list --limit 1000 --json tagName,name,body |
          jq -c '.[]' | while read r; do
            TAG=$(echo $r | jq -r '.tagName')
            NAME=$(echo $r | jq -r '.name')
            BODY=$(echo $r | jq -r '.body')

            glab release view "$TAG" --repo "$PROJECT" >/dev/null 2>&1 ||
            glab release create "$TAG" \
              --repo "$PROJECT" \
              --name "$NAME" \
              --notes "$BODY"
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CODEBERG_TARGET_TOKEN: ${{ secrets.CODEBERG_TARGET_TOKEN }}
          CODEBERG_TARGET_URL: ${{ secrets.CODEBERG_TARGET_URL }}
